doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title=i18n.__("Checkout")
    link(rel='stylesheet' type='text/css' href='../css/MainStyle.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='../css/all.min.css')
    link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
    link(rel="manifest" href="/img/favicon/site.webmanifest")
    link(rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    header.Header
      include /templates/top_header.pug
      include /templates/middle_header.pug
      include /templates/bottom_header.pug 
    main.Checkout-main
      -let currentStage=0;
      -if(session!==undefined&&session.serviceOrderInfo.currentStage!==undefined){
        -currentStage=session.serviceOrderInfo.currentStage;
      -}
      section.Checkout-section.Section-centerer
        .Fulfillment-wrapper
          .Fulfillment-service.Fulfillment
            -let fulmfilmentStages=i18n.__("Fulfillment stages head")
            ul.Fulfillment-stages-head
              li(class=currentStage===0?"Fulfillment-head-contact-information Current-stage-head":currentStage>0?"Fulfillment-head-contact-information Ready-stage-head":"Fulfillment-head-contact-information")
                =fulmfilmentStages[1]
              li(class=currentStage===1?"Fulfillment-head-payment-method Current-stage-head":currentStage>1?"Fulfillment-head-payment-method Ready-stage-head":"Fulfillment-head-payment-method")
                =fulmfilmentStages[2]
              li(class=currentStage===2?"Fulfillment-head-final Current-stage-head":currentStage>2?"Fulfillment-head-final Ready-stage-head":"Fulfillment-head-final")
                =fulmfilmentStages[3]
            .Fulfillment-stages-wrapper
              ul(class="Fulfillment-stages" data-current-stage=currentStage)                                    
                li(class=currentStage===0?"Fulfillment-contact-information":"Fulfillment-contact-information visually-hidden")
                  h2.Fulfillment-contact-information-header
                    =i18n.__("Contact information")
                  span.Needed-input-explanation=i18n.__("Required field")
                  .Fulfillment-contact-information-sect
                    form(class="Contact-information-form")
                      input(type="hidden", name="stageName", value="contactInformation")
                      -let contactInfo={};
                      -if(session.serviceOrderInfo.contactInfo!==undefined){
                      -  contactInfo=session.serviceOrderInfo.contactInfo;
                      -}
                      -let Fulfillmentcontactinformation=i18n.__("Fulfillment contact information")
                      ul.Fulfillment-contact-information-form
                        li
                          label(class="Input-needed" for="Fulfillment-phone-number-field")=Fulfillmentcontactinformation["Phone number"]
                          input(type="text", id="Fulfillment-phone-number-field", name="Fulfillment-phone-number", value=contactInfo.phoneNumber||"", data-reg-exp="^(([\+]{1}[0-9]{2}|[0-9]{2})[0-9]{9})$")  
                        li
                          label(class="Input-needed" for="Fulfillment-email-field")=Fulfillmentcontactinformation["Email"]
                          input(type="text", id="Fulfillment-email-field", name="Fulfillment-email", value=contactInfo.email||"", data-reg-exp="^(([^<>()\[\]\\.,;:\s@]+(\.[^<>()\[\]\\.,;:\s@]+)*)|(.+))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$")   
                        li
                          label(for="Fulfillment-name-field")=Fulfillmentcontactinformation["Name"]
                          input(type="text", id="Fulfillment-name-field", name="Fulfillment-name", value=contactInfo.name||"") 
                li(class=currentStage===1?"Fulfillment-payment-method":"Fulfillment-payment-method visually-hidden")
                  h2.Fulfillment-payment-method-header=i18n.__("Choose payment method")
                  form(class="Payment-method-form")
                    input(type="hidden", name="stageName", value="paymentMethod")
                    -let Fulfillmentpayment=i18n.__("Fulfillment payment type")
                    ul.Fulfillment-payment-method-list
                      li.Fulfillment-payment-in-store
                        .Payment-head
                          span.Element-radio-btn-span.Selected-Element-radio-btn-span
                          input(class="Payment-radio-btn",type="radio", name="Payment-method", value=Fulfillmentpayment["In store"] checked)
                          p.Checkout-payment-type-text=Fulfillmentpayment["In store"]
                        .Payment-in-store-methods
                          img(src="/img/Card_image.png" alt="" width="240" height="35")
                      li.Fulfillment-payment-online
                        .Payment-head
                          span.Element-radio-btn-span
                          input(class="Payment-radio-btn",type="radio", name="Payment-method", value=Fulfillmentpayment["Online"])
                          p.Checkout-payment-type-text=Fulfillmentpayment["Online"]
                        .Payment-online-methods
                          img(src="/img/Card_image.png" alt="" width="240" height="35")
              .Fulfillment-stages-control-btns
                button.Fulfillment-stages-back-btn=i18n.__("Fulfillment stages btns")["Back"]
                button.Fulfillment-stages-next-btn=i18n.__("Fulfillment stages btns")["Next"]
        .Fulfillment-info-wrapper
          -let fulfilmentInfo=i18n.__("Fulfillment-info")
          ul.Fulfillment-info
            li
              h2.Fulfillment-info-header=fulfilmentInfo["Your order:"]
            li.Fulfillment-info-list-sect
              p.Fulfillment-info-list-head=fulfilmentInfo["Order list:"]
              p.Fulfillment-info-list 
                  span(class="Fulfillment-info-quantity")=totalQuantity
                  =fulfilmentInfo["items"]
            li.Fulfillment-info-receipt-date-sect
              p.Fulfillment-info-receipt-date-head=fulfilmentInfo["Receipt date:"]
              p.Fulfillment-info-receipt-date 20.02.2020
            li.Cart-order-total-row
              p.Cart-order-total-head
                =fulfilmentInfo["Total"]
              p.Cart-order-total-price="$"+totalPrice         
    footer.Footer
      include /templates/footer_top.pug
      include /templates/footer_bottom.pug
    script(type="module" src="/js/common_script.js")
    script(type="module" src="/js/checkout_service_index.js")
