doctype html
html(lang=i18n.locale)
  head
    meta(charset="utf-8")
    title=i18n.__("About us")
    link(rel='stylesheet' type='text/css' href='../css/MainStyle.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='../css/all.min.css')
    link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
    link(rel="manifest" href="/img/favicon/site.webmanifest")
    link(rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    header.Header
      include /templates/top_header.pug
      include /templates/middle_header.pug
      include /templates/bottom_header.pug
    main.About-main
      .Section-centerer
        h1.About-main-header=i18n.__("About us")
        p
          !=i18n.__("main par part1")
          !=i18n.__("main par part2")
          !=i18n.__("main par part3")
        h2.About-main-second-header=i18n.__("about header")
        ul.About-pros
          li
            div
              i.fas.fa-user
            div
              h3=i18n.__("SERVICE header")
              p!=i18n.__("service par part1")
          li
            div
              i.fas.fa-shopping-basket
            div
              h3=i18n.__("SELECTION header")
              p=i18n.__("selection par")
          li
            div
              i.fas.fa-truck
            div
              h3=i18n.__("SATISFACTION header")
              p=i18n.__("satisfaction par")
          li
            div
              i.fas.fa-check-circle
            div
              h3=i18n.__("DELIVERY header")
              p
                !=i18n.__("delivery par part1")
                !=i18n.__("delivery par part2")
    footer.Footer
      include /templates/footer_top.pug
      include /templates/footer_bottom.pug
    script(type="module" src="/js/common_script.js")
