mixin compareContent()
    h1.Compare-goods-header
        =i18n.__("Compare goods")
    -if(categoriesInfo!==undefined&&categoriesInfo.length>0){
    ul.Compare-categories-list
        -for(let i=0;i<categoriesInfo.length;i++){
        li.Compare-category-el
            button(class="Compare-category-name-btn "+(i===0?"Active-slide-btn":"") data-category-id=categoriesInfo[i]["product_category_id"])
                =categoriesInfo[i]["product_category_name_"+i18n.locale]
        -}
    ul.Compare-categories-nav-stack
        -for(let i=0;i<categoriesInfo.length;i++){
        li(class="Compare-categories-nav-el "+(i!==0?"visually-hidden":""))
            ul.Compare-category-nav-list
                li.Compare-category-nav-el
                    a(href="/shop_by_room")
                        =i18n.__("Furniture")
                    i.fas.fa-chevron-right
                li.Compare-category-nav-el
                    a(href=`/rooms_categories/${categoriesInfo[i]["type_name_en"].toLowerCase().replace(/ /g,"_")}`)
                        =categoriesInfo[i]["type_name_"+i18n.locale]
                    i.fas.fa-chevron-right
                li.Compare-category-nav-el
                    a(href=`/catalog_goods/${categoriesInfo[i]["product_category_name_en"].toLowerCase().replace(/ /g,"_")}`)
                        =categoriesInfo[i]["product_category_name_"+i18n.locale]
        -}
    .Compare-categories-content-section
        ul.Compare-categories-content-list
            -let l=0;
            -let f=0;
            -for(let i=0;i<categoriesInfo.length;i++){
            -let categoryID=categoriesInfo[i]["product_category_id"];
            li(class="Compare-categories-content-el"+(i!==0?" visually-hidden":""))
                ul.Compare-product-head-list
                    -for(let p=f;p<productsInfo.length;p++){
                    -if(categoryID!==productsInfo[p]["product_category_id"]){
                    -f=p;
                    -break;
                    -}
                    li.Compare-product-head-el
                        .Compare-head-img-wrapper
                            -var ImgDir="/img/products/"+(100000000+(Number(productsInfo[p].product_category_id)*10000)+Number(productsInfo[p].product_id))+"/"+(100000000+(Number(productsInfo[p].product_category_id)*10000)+Number(productsInfo[p].product_id))+"1.jpg";
                            img(src=ImgDir, alt=productsInfo[p]["product_name_"+i18n.locale], width='200', height='200')
                        h3.Compare-head-product-name
                            a(href=`goods/${productsInfo[p].product_id}`, class="Item-header-link")    
                                =productsInfo[p]["product_name_"+i18n.locale]
                        .Compare-product-rating-wrapper
                            include /templates/star_rating.pug
                            +makeStarRating(productsInfo[p].product_rating)
                        .Item-price
                            -let currentPriceConverted=money.convertTo(money({amount:Number.parseInt(productsInfo[p].product_current_price*100)}),session["currency"],currencyRates);
                            -if(productsInfo[p].product_previous_price==null){
                                p.New-price=currentPriceConverted.toFormat("$0,0.00")
                            -}else{
                                -let oldPriceConverted=money.convertTo(money({amount:Number.parseInt(productsInfo[p].product_previous_price*100)}),session["currency"],currencyRates);
                                p.New-price=currentPriceConverted.toFormat("$0,0.00")
                                p.Old-price=oldPriceConverted.toFormat("$0,0.00")
                            -}
                        ul.Compare-btn-list
                            li(class="Compare-control-btns-wrapper")
                                button(class="Control-btn Good-like-btn" data-product-id=productsInfo[p].product_id)
                                    i.far.fa-heart
                                button(class="Control-btn Delete-btn", data-category-number=i, data-product-number=p-f, data-product-id=productsInfo[p].product_id, data-category-id=productsInfo[p].product_category_id)
                                    i.fas.fa-trash-alt
                            li
                                button(class="Add-to-cart-btn" data-product-id=productsInfo[p].product_id)
                                    i.fas.fa-shopping-basket
                                    =i18n.__("add to cart")
                    -}
                h2.Compare-characteristics-header
                    =i18n.__("Characteristics")
                -let z=0;
                -let n=0;
                -let j=0;
                -for(n=l;n<productsCharacteristics.length&&j<productsCharacteristics.length&&z<productsCharacteristics.length;n++){
                -if(categoryID!==productsCharacteristics[n]["product_category_id"]){
                    -l=n;
                    -break;
                -}
                .Compare-products-rows-wrapper
                    .Compare-characteristic-name-wrapper
                        h3.Compare-characteristic-name
                            =productsCharacteristics[n]["product_characteristic_name_"+i18n.locale]
                    ul.Compare-characteristics-values-list
                        -let productCharacteristicID=productsCharacteristics[n]["product_characteristic_id"];
                        -for(j=n;n<productsCharacteristics.length&&j<productsCharacteristics.length&&z<productsCharacteristics.length;j++){
                            -let productID=productsCharacteristics[j]["product_id"];
                            -if(productCharacteristicID!==productsCharacteristics[j]["product_characteristic_id"]){
                            -n=j-1;
                            -break;
                            -}
                            li(class="Compare-characteristics-value")
                                div(class="Compare-characteristics-value-wrapper")
                                    -for(z=j;n<productsCharacteristics.length&&j<productsCharacteristics.length&&z<productsCharacteristics.length;z++){
                                        -if(productCharacteristicID!==productsCharacteristics[z]["product_characteristic_id"]||productID!==productsCharacteristics[z]["product_id"]){
                                            -j=z-1;
                                            -break;
                                        -}
                                            span(class="Compare-characteristics-value-span")=productsCharacteristics[z]["product_characteristic_value_"+i18n.locale]
                                    -}
                        -}
                -}
            -}
    -}
+compareContent()