doctype html
html(lang=i18n.locale)
  head
    meta(charset='utf-8')
    title=i18n.__("Bazar Online shopping")
    link(rel='stylesheet' type='text/css' href='css/MainStyle.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='css/all.min.css')
    link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
    link(rel="manifest" href="/img/favicon/site.webmanifest")
    link(rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    header.Header
      include /templates/top_header.pug
      include /templates/middle_header.pug
      include /templates/bottom_header.pug
    main.Home-main
      .Hot-deals-special-offers-sliders-wrapper
        section.Hot-deals-special-offers-sliders.Section-centerer
          .Hot-deals-slider
            .Hot-deals-top
              .Hot-deals-header
                h2=i18n.__("hot deals")
              .Hot-deals-slider-btn-wrapper
                button.Slider-btn.Active-slide-btn
                button.Slider-btn
                button.Slider-btn
            .Hot-deals-middle
              include /templates/home/home_hot_deals.pug
          .Special-offers-slider
            -let specialOffer=i18n.__("special offers content")
            .Special-offer-slider-item-1.Special-offer-slider-item
              img(class="Special-offer-slider-img" src='img/special_offers/213ds32ds.jpg' alt='' width='751' height='466')
              .Special-offer
                h3.Special-offer-header
                  span.Light-word=specialOffer[0]["light word"]
                  span.Bold-word=specialOffer[0]["bold word"]
                p.Special-offer-about=specialOffer[0]["about"]
              a.Catalog-link(href='')=i18n.__("special offer link text")
            .Special-offer-slider-item-2.Special-offer-slider-item.visually-hidden
              img(src='img/special_offers/st2387.jpg' alt='' width='751' height='466')
              .Special-offer
                h3.Special-offer-header
                  span.Light-word=specialOffer[1]["light word"]
                p.Special-offer-about=specialOffer[1]["about"]
              a.Catalog-link(href='')=i18n.__("special offer link text")
            .Special-offer-slider-item-3.Special-offer-slider-item.visually-hidden
              img(src='img/special_offers/ss274830.jpg' alt='' width='751' height='466')
              .Special-offer
                h3.Special-offer-header
                  span.Bold-word=specialOffer[2]["bold word"]
                p.Special-offer-about=specialOffer[2]["about"]
              a.Catalog-link(href='')=i18n.__("special offer link text")
            .Special-offer-slider-btn
              button.Slider-previous-btn.slider-btn
                i.fas.fa-chevron-left
              button.Slider-next-btn.slider-btn
                i.fas.fa-chevron-right
      ul.Our-advantages.Section-centerer
        -let advantages=i18n.__("our advantages")
        li
          a.Our-advantages-article-link(href='#')
            h3.Advantages-header=advantages[0]["advantage head"]
            p.Advantages-par=advantages[0]["advantage par"]
            .Advantages-icons
              .Advantage-icons-inside
                i.fas.fa-truck
        li
          a.Our-advantages-article-link(href='#')
            h3.Advantages-header=advantages[1]["advantage head"]
            p.Advantages-par=advantages[1]["advantage par"]
            .Advantages-icons
              .Advantage-icons-inside
                i.fas.fa-headphones
        li
          a.Our-advantages-article-link(href='#')
            h3.Advantages-header=advantages[2]["advantage head"]
            p.Advantages-par=advantages[2]["advantage par"]
            .Advantages-icons
              .Advantage-icons-inside
                i.fas.fa-reply-all
        li
          a.Our-advantages-article-link(href='#')
            h3.Advantages-header=advantages[3]["advantage head"]
            p.Advantages-par=advantages[3]["advantage par"]
            .Advantages-icons
              .Advantage-icons-inside
                i.fas.fa-bullhorn
      section.Fixed-two-column-special-offers.Section-centerer
        a.Special-offer-left-column(href='#')
          -let fixedSpecials=i18n.__("fixed special offers")
          .Special-offer-about
            h3.Special-offer-header
              span.Top-line=fixedSpecials[0]["top line"]
              br
              span.Bottom-line=fixedSpecials[0]["bottom line"]
            p.Special-offer-par=fixedSpecials[0]["special offer par"]
        .Special-offer-right-column
          a.Special-offer-top(href='#')
            h3.Special-offer-header
              span.Top-line=fixedSpecials[1]["top line"]
              br
              span.Bottom-line=fixedSpecials[1]["bottom line"]
            p.Special-offer-size=fixedSpecials[1]["special offer par"]
          a.Special-offer-bottom(href='#')
            h3.Special-offer-header
              span.Bold-part=fixedSpecials[2]["top line"] 
              span.Light-part=fixedSpecials[2]["bottom line"]
            p.Special-offer-par=fixedSpecials[2]["special offer par"]
      section.Products-catalog.Section-centerer
        .Products-catalog-head
          .Catalog-nav-wrapper
            h2.Section-header=i18n.__("new furniture")
            ul.Products-catalog-nav
              include /templates/home/home_new_products_nav.pug
          .Catalog-slider-btn-wrapper
            button.Slider-btn.Active-slide-btn
            button.Slider-btn
            button.Slider-btn
        ul.Products-category-list
          include /templates/home/home_new_products_catalog.pug
      section.Extra-promotion.Section-centerer
        include /templates/home/home_gallery.pug
        .Extra-promotion-special-offer
          -let extraPromotion=i18n.__("extra promotion")
          .Over-img-filter
            p.Extra-promotion-special-par
              span.Small-word=extraPromotion["small word"]
              span.Offer-price=extraPromotion["price"]
              br
              span.Offer-name=extraPromotion["name"]
            a.Extra-promotion-special-shop-now-btn=i18n.__("special offer link text")
      section.Latest-blog-articles.Section-centerer
        .Blog-top
          h2.Section-header=i18n.__("latest blog")
          .Catalog-slider-btn-wrapper
            button.Slider-btn.Active-slide-btn
            button.Slider-btn
            button.Slider-btn
        include /templates/home/home_blog_articles.pug
      section.Brands-list-section.Section-centerer
        button.List-scroll-left-btn
          i.fas.fa-chevron-left
        ul.Brands-list
          li
            a.List-item(href='#')
          li
            a.List-item(href='#')
          li
            a.List-item(href='#')
          li
            a.List-item(href='#')
          li
            a.List-item(href='#')
          li
            a.List-item(href='#')
        button.List-scroll-right-btn
          i.fas.fa-chevron-right
      section.Section-centerer
        .Feedback-section-top
          h2.Section-header=i18n.__("client feedback header")
          .Catalog-slider-btn-wrapper
            button.Slider-btn.Active-slide-btn
            button.Slider-btn
            button.Slider-btn
        ul.Feedback-list
          -let feedbacks=i18n.__("client feedback content")
          li.Feedback-content
            i.fas.fa-quote-right
            p.Feedback-text=feedbacks[0]["feedback text"]
            .Feedback-author
              .Feedback-author-avatar-wrapper
                img.Feedback-author-avatar(src='/img/homepage_users_reviews/user_1.jpg' alt='' width='120' height='120')
              p.Feedback-about-author
                span.Author-name=feedbacks[0]["author name"]
                br
                span.Author-occupation=feedbacks[0]["author occupation"]
          li.Feedback-content.visually-hidden
            i.fas.fa-quote-right
            p.Feedback-text=feedbacks[1]["feedback text"]
            .Feedback-author
              .Feedback-author-avatar-wrapper
                img.Feedback-author-avatar(src='/img/homepage_users_reviews/user_2.jpg' alt='' width='120' height='120')
              p.Feedback-about-author
                span.Author-name=feedbacks[1]["author name"]
                br
                span.Author-occupation=feedbacks[1]["author occupation"]
          li.Feedback-content.visually-hidden
            i.fas.fa-quote-right
            p.Feedback-text=feedbacks[2]["feedback text"]
            .Feedback-author
              .Feedback-author-avatar-wrapper
                img.Feedback-author-avatar(src='/img/homepage_users_reviews/user_3.jpg' alt='' width='120' height='120')
              p.Feedback-about-author
                span.Author-name=feedbacks[2]["author name"]
                br
                span.Author-occupation=feedbacks[2]["author occupation"]
    footer.Footer
      include /templates/footer_top.pug
      include /templates/footer_bottom.pug
    script(src="/js/main_index.js")
    script(type="module" src="/js/common_script.js")