mixin hotDeal(data, className)
    -let productCompositeID=(100000000+(Number(data.product_category_id)*10000)+Number(data.product_id));
    div(class= className)
        .Hot-deal-img-wrapper
          -var imgDir="/img/products/"+productCompositeID+"/"+productCompositeID+"1.jpg";
          img.Hot-deal-image(src= imgDir alt='' width='360' height='289')
          ul.Hot-deals-timer(data-end-date= data.product_hot_deal_end.toISOString().substring(0,10))
            li
              span.Hot-deals-timer-value.Hot-deals-timer-days
              br
              span.Hot-deals-timer-unit=i18n.__("timer values")["DAYS"]
            li
              span.Hot-deals-timer-value.Hot-deals-timer-hrs
              br
              span.Hot-deals-timer-unit=i18n.__("timer values")["HRS"]
            li
              span.Hot-deals-timer-value.Hot-deals-timer-mins
              br
              span.Hot-deals-timer-unit=i18n.__("timer values")["MINS"]
            li
              span.Hot-deals-timer-value.Hot-deals-timer-secs
              br
              span.Hot-deals-timer-unit=i18n.__("timer values")["SECS"]
          button(class="Add-to-cart-btn Adding-to-cart" data-product-id=data.product_id)
            i.fas.fa-shopping-basket
            =i18n.__("add to cart")
        .Hot-deal-about
          a.Item-header-link(href=`/goods/${productCompositeID}`)
            h3.Hot-deal-name= data["product_name_"+i18n.locale]
          span.Hot-deal-rating
            include /templates/star_rating.pug
            +makeStarRating(data.product_rating)
          .Hot-deal-decorative-line
          .Hot-deal-bottom
            ul.Item-controls
              li
                button.Hot-deal-look
                  i.far.fa-eye
              li
                button(class="Good-like-btn" data-product-id=data.product_id)
                  i.far.fa-heart
              li
                button.Hot-deal-compare
                  i.fas.fa-exchange-alt
            .About-prices
              -if(data.product_previous_price==null){
                  p.Gallery-item-new-price= data.product_current_price
              -}else{
                  p.New-price= data.product_current_price
                  p.Old-price= data.product_previous_price
              -}
-var i=0;
-for(i=0;i<hotDeals.length;i++){
-if(i==0){
+hotDeal(hotDeals[i],"Hot-deal")
-}else{
+hotDeal(hotDeals[i],"Hot-deal"+" visually-hidden")
-}}
