mixin productsItems(data)
    li.Products-catalog-item
        -var isSaleClass="Product-catalog-item-top";
        -isSaleClass+=data.product_previous_price===null ? "":" Sale-item";
        div(class= isSaleClass)
            -var imgDir="/img/products/"+(100000000+(Number(data.product_category_id)*10000)+Number(data.product_id))+"/"+(100000000+(Number(data.product_category_id)*10000)+Number(data.product_id))+"1.jpg";
            img.Catalog-item-img(src= imgDir alt='' width='262' height='260')
            .Product-catalog-item-buttons
                button.Quick-view-btn=i18n.__("Quick View")
                button(class="Add-to-cart-btn" data-product-id=data.product_id)
                    i.fas.fa-shopping-basket
                    =i18n.__("add to cart")
        .Product-catalog-item-bottom
            a.Item-header-link(href=`/goods/${data.product_id}`)
                h3.Item-header= data["product_name_"+i18n.locale]
            span.Item-rating
                include /templates/star_rating.pug
                +makeStarRating(data.product_rating)
            .Item-decorative-line
            .Item-controls-and-price
                ul.Item-controls
                    li
                        button(class="Control-btn Good-like-btn" data-product-id=data.product_id)
                    li
                        button(class="Control-btn Compare-btn", data-product-id=data.product_id, data-category-id=data.product_category_id)
                            i.fas.fa-balance-scale
                .Item-price
                    -let currentPriceConverted=money.convertTo(money({amount:Number.parseInt(data.product_current_price*100)}),session["currency"],currencyRates);
                    -if(data.product_previous_price==null){
                        p.New-price=currentPriceConverted.toFormat("$0,0.00")
                    -}else{
                        -let oldPriceConverted=money.convertTo(money({amount:Number.parseInt(data.product_previous_price*100)}),session["currency"],currencyRates);
                        p.New-price=currentPriceConverted.toFormat("$0,0.00")
                        p.Old-price=oldPriceConverted.toFormat("$0,0.00")
                    -}
mixin productsCategoriesElement(data, classname, categoryNumb)      
      li(class= classname)
        ul(class='Products-category-pages-list' data-category-name= data["product_category_name_"+i18n.locale] data-category-pages-count= Math.ceil(data.count/8))
            -for(var i= data.count;i>=0;i-=8){
            li
                ul(class='Products-category-page-items-list')
                    -for(var limiter=8;newProductsCatalogNav[categoryNumb].count>0;newProductsCatalogNav[categoryNumb].count--,limiter--){
                    -if(limiter==0){
                    -break;
                    -}
                        +productsItems(newProductsCatalog[0])
                    -newProductsCatalog.shift();
                    -}
            -}
-for(var j=0;j<newProductsCatalogNav.length;j++){
-if(j!=0){
+productsCategoriesElement(newProductsCatalogNav[j],"visually-hidden", j)
-}else{
+productsCategoriesElement(newProductsCatalogNav[j],"", j)
-}}