doctype html
html(lang=i18n.locale)
  head
    meta(charset="utf-8")
    title=goodMainInformation[0]["product_name_"+i18n.locale]
    link(rel='stylesheet' type='text/css' href='../css/MainStyle.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='../css/all.min.css')
    link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
    link(rel="manifest" href="/img/favicon/site.webmanifest")
    link(rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    header.Header
      include /templates/top_header.pug
      include /templates/middle_header.pug
      include /templates/bottom_header.pug
    main.Shop-main
      .Product-category-nav-wrapper
        .Product-category-nav.Section-centerer
          h3.Category-header=i18n.__("Furniture")
          ul.Category-nesting-nav
            li
              a(href="/shop_by_room")
                =i18n.__("Furniture")
              i.fas.fa-chevron-right
            li
              a(href=`/rooms_categories/${goodMainInformation[0]["type_name_en"]}`)=goodMainInformation[0]["type_name_"+i18n.locale]
              i.fas.fa-chevron-right
            li
              -let preparedcategory=goodMainInformation[0]["product_category_name_en"].replace(/ /g,"_");
              a(href=`/catalog_goods/${preparedcategory}`)=goodMainInformation[0]["product_category_name_"+i18n.locale]
      include /templates/goods/goods_card.pug
      .Product-info-wrapper
        ul.Product-info-nav
          li
            a(href='#')=i18n.__("DESCRIPTION")
          li.Product-info-active-tab
            a(href='#') 
              =i18n.__("REVIEWS")
              span.Reviews-count= reviewsCount[0].count
              | )
          li 
            a(href='#')=i18n.__("SPECIFICATION")
        ul.Product-info-content
          li.Product-description-wrapper.visually-hidden
            h4.New-user-review-header=i18n.__("Product Description")
            p.Product-description= goodMainInformation[0]["product_description_"+i18n.locale]
          li.Product-info-content-reviews-wrapper
            include /templates/goods/goods_reviews.pug
            div(class="New-user-review",id="New-review-anchor")
              h4.New-user-review-header=i18n.__("Add a review")
              div(class="Add-review-wrapper")
                -if(session["userInfo"]==undefined){
                include /templates/goods/goods_unauthorized_plug.pug
                -}else{
                include /templates/goods/goods_new_review_section.pug
                -}
          li(class="Goods-characteristics-table-wrappper visually-hidden")
            h4.New-user-review-header=i18n.__("Product Characteristics")
            table
              -for(let i=0;i<characteristicValues.length;i++){
              tr
                td(class="Characteristic-name")= characteristicValues[i]["product_characteristic_name_"+i18n.locale]
                td(class="Characteristic-value")= characteristicValues[i]["product_characteristic_value_"+i18n.locale]
              -}                           
      include /templates/goods/goods_new_furniture.pug
      include /templates/newsletter_form.pug
    footer.Footer
      include /templates/footer_top.pug
      include /templates/footer_bottom.pug
    .Overlay
    script(type="module", src="/js/goods_index.js")
    script(type="module", src="/js/common_script.js")
